.hidden {
	display: none;
}

#name-and-slogan {
	display: inline-block;
}

#admin-menu .admin-menu-search input {
	height: inherit;
}

ul li:before {
  font-family: inherit;
  content: none;
  padding: 0;
}

.fs_controls a.fs_share {
	display: none;
}

.page_title_block .title {
	text-transform: inherit;
}

.commentlist:before {
  content: none;
}

#comment-wrapper {
	border-left: 1px solid #e0e0e0;
}

.indented {
  margin-left: 54px;
  border-left: 1px solid #e0e0e0;
  padding: 20px 0px;
}

.commentlist {
	overflow: inherit;
}

.comment-form input[type="submit"] {
	margin-right: 10px;
}

.nivoSlider img {
	height: inherit;
}

.portfolio-gallery {
	margin: 20px 0px;
}