.hidden {
	display: none;
}

#name-and-slogan {
	display: inline-block;
}

#admin-menu .admin-menu-search input {
	height: inherit;
}

ul li:before {
  font-family: inherit;
  content: none;
  padding: 0;
}

.fs_controls a.fs_share {
	display: none;
}

.page_title_block .title {
	text-transform: inherit;
}